body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
    position: relative;
    font-family: 'Libre Baskerville', serif;
}
h1{
    color: white;
    position: absolute;
    font-size: 4em;
    margin-top: 22%;
    left: 25%;
    z-index: 2;
    text-shadow: 0 0 20px white;
}
.img-container{
    float: left;
    width: 10%;
    height: 145px;
    overflow:hidden;
}
.img-container img{
    min-width:100%;
    min-height:100%;
    -moz-filter: blur(7px);
    -webkit-transition: blur 1s ease;
    -webkit-filter: blur(7px);
    -o-filter: blur(7px);
    filter: blur(7px);
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity:.5;
}
.img-container img:hover{
    opacity:1;
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    -o-filter: blur(1px);
}
form{
    width: 50%;
    position: absolute;
    margin-top: 28%;
    left: 25%;
    overflow: hidden;
    z-index: 2;
}
form input#textfield{
    width: 100%;
    height: 50px;
    font-style: oblique;
    padding-left: 1%;
    padding-right: 0;
    font-size: 2em;
    border-width:0;
}
form input#button{
    width: 101%;
    height: 30px;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 1em;
}
div.picture_container{
    position: relative;
    width:23%;
    margin:1%;
    height: 200px;
    overflow: hidden;
    float: left;
}
div.picture_container .new_pictures img{
    min-width:100%;
    min-height:100%;
}
div#users{
    position: absolute;
    top: 155px;
    text-align: center;
    background: rgba(0,0,0,.7);
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
}
div#users a{
    color: rgb(245,245,245);
    text-decoration: none;
    font-style: oblique;
}
div#users{
    opacity:0;
}
div#users:hover{
    opacity:1;
}
div.picture_container:hover div#users{
    opacity:1;
}